<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/Style.css}" type=text/css rel=stylesheet>
    <link th:href="@{/css/Manage.css}" type=text/css rel=stylesheet>
</head>
<body>
<form id="customerForm" name="customerForm" th:action="@{/customer/}" method="post">
    <div th:replace="commons/decoration::top"></div>
    <table cellSpacing=0 cellPadding=0 width="98%" border=0>
        <tbody>
        <tr>
            <td width=15 th:background="@{/images/new_022.jpg}">
                <img th:src="@{/images/new_022.jpg}" border=0></td>
            <td vAlign=top width="100%" bgColor=#ffffff>
                <table cellSpacing=0 cellPadding=5 width="100%" border=0>
                    <tr>
                        <td class="manageHead" th:text="${customer!=null}?'当前位置：客户管理 > 编辑客户':'当前位置：客户管理 > 添加客户'"></td>
                    </tr>
                    <tr>
                        <td height=2></td>
                    </tr>
                </table>
                <input type="hidden" name="_method" value="put" th:if="${customer!=null}">
                <input type="hidden" name="customer_id" th:if="${customer!=null}" th:value="${customer.customer_id}">
                <table cellSpacing=0 cellPadding=5 border=0>
                    <tr>
                        <td>客户名称：</td>
                        <td>
                            <input class="textbox" id="sChannel2" th:value="${customer!=null}?${customer.customer_name}"
                                   style="width: 180px" maxLength="50" name="customer_name">
                        </td>
                        <td>客户级别 ：</td>
                        <td>
                            <select name="customer_dict.dict_id">
                                <option value="">--请选择--</option>
                                <option th:value="${dict.dict_id }"
                                        th:each="dict:${listDict}"
                                        th:selected="${customer!=null&&customer.customer_dict!=null}?${customer.customer_dict.dict_id}==${dict.dict_id}">
                                    [[${dict.dict_name }]]
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>客户地址 ：</td>
                        <td>
                            <input class="textbox" id="sChannel2"
                                   th:value="${customer!=null}?${customer.customer_address}"
                                   style="width: 180px" maxLength="50" name="customer_address">
                    </tr>
                    <tr>
                        <td>客户电话 ：</td>
                        <td>
                            <input class="textbox" id="sChannel2"
                                   th:value="${customer!=null}?${customer.customer_telephone}"
                                   style="width: 180px" maxLength="50" name="customer_telephone">
                        </td>
                        <td>客户来源 ：</td>
                        <td>
                            <input class="textbox" id="sChannel2"
                                   th:value="${customer!=null}?${customer.customer_source}"
                                   style="width: 180px" maxLength="50" name="customer_source">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan=2>
                            <input class="button" id="sButton2" type="submit"
                                   value=" 保存 " name="sButton2">
                        </td>
                    </tr>
                </table>
            </td>
            <td width=15 th:background="@{/images/new_023.jpg}">
                <img th:src="@{/images/new_023.jpg}" border=0></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="commons/decoration::bottom"></div>
</form>
</body>
</html>